/*
* Linda Walsh
* 10/25/18
* My Favorite Things Website
*/

/* The universal selector */

* {

}

/* Body attributes here */

body {
  
    
}

#england { width: 300px; height: 200px}
#laddy { width: 185px; height: 300px}
#me { width: 260px; height: 200px}
#breakfast {width: 185px; height: 250px}

